@font-face {
  font-family: "Hind";
  src: url("./Hind-Light.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Hind";
  src: url("./Hind-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Hind";
  src: url("./Hind-Medium.ttf") format("truetype");
  font-weight: 500;
}

#app .fm-hi {
  font-family: Hind !important;
}