@font-face {
  font-family: "iconfont"; /* Project id 2836133 */
  src: url('iconfont.woff2?t=1634288545454') format('woff2'),
       url('iconfont.woff?t=1634288545454') format('woff'),
       url('iconfont.ttf?t=1634288545454') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo1:before {
  content: "\e612";
}

.icon-xuanzeyixuan:before {
  content: "\e63c";
}

.icon-shezhi:before {
  content: "\e66f";
}

.icon-tuichu:before {
  content: "\e769";
}

.icon-pause:before {
  content: "\e600";
}

.icon-play:before {
  content: "\e9f9";
}

.icon-a-003-switch:before {
  content: "\e62e";
}

.icon-a-002-networking:before {
  content: "\e62f";
}

.icon-a-005-3d-printing:before {
  content: "\e62c";
}

.icon-a-004-augmented-reality:before {
  content: "\e62d";
}

.icon-code:before {
  content: "\e623";
}

.icon-faucet:before {
  content: "\e624";
}

.icon-key:before {
  content: "\e625";
}

.icon-time:before {
  content: "\e626";
}

.icon-sign:before {
  content: "\e627";
}

.icon-block:before {
  content: "\e628";
}

.icon-node:before {
  content: "\e629";
}

.icon-flash:before {
  content: "\e62a";
}

.icon-history:before {
  content: "\e62b";
}

.icon-jiaoyi-02:before {
  content: "\e622";
}

.icon-star:before {
  content: "\e709";
}

.icon-jiantou:before {
  content: "\e603";
}

.icon-jiantou-copy:before {
  content: "\e606";
}

.icon-suoding:before {
  content: "\e63d";
}

.icon-weisuoding:before {
  content: "\e63f";
}

.icon-lishijilu:before {
  content: "\e61c";
}

.icon-zhuanhuan:before {
  content: "\e604";
}

.icon-jiedian1:before {
  content: "\e605";
}

.icon-jiantou1-copy-copy-copy:before {
  content: "\e602";
}

.icon-hudong:before {
  content: "\ea28";
}

.icon-heyue:before {
  content: "\e730";
}

.icon-fuzhi1:before {
  content: "\e697";
}

.icon-duigouxiao:before {
  content: "\e8bd";
}

.icon-fanye1:before {
  content: "\e772";
}

.icon-fanye2:before {
  content: "\e773";
}

.icon-shijian_o:before {
  content: "\ebb1";
}

.icon-gengduo:before {
  content: "\e8f3";
}

.icon-sousuo:before {
  content: "\e618";
}

.icon-fasong:before {
  content: "\e642";
}

.icon-fanye:before {
  content: "\e60b";
}

.icon-qianbao2:before {
  content: "\e700";
}

